$font-path: 'fonts';
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;

$colors: (
  primary:    #2196F3,
  secondary:  #8E3A87,
  tertiary:   #eca418,
  muted:      #C8C7CC,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222,
);
